@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueBold.eot');
    src: local('Baron Neue Bold'), local('BaronNeueBold'),
        url('BaronNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BaronNeueBold.woff2') format('woff2'),
        url('BaronNeueBold.woff') format('woff'),
        url('BaronNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueBlackItalic.eot');
    src: local('Baron Neue Black Italic'), local('BaronNeueBlackItalic'),
        url('BaronNeueBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('BaronNeueBlackItalic.woff2') format('woff2'),
        url('BaronNeueBlackItalic.woff') format('woff'),
        url('BaronNeueBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeue.eot');
    src: local('Baron Neue'), local('BaronNeue'),
        url('BaronNeue.eot?#iefix') format('embedded-opentype'),
        url('BaronNeue.woff2') format('woff2'),
        url('BaronNeue.woff') format('woff'),
        url('BaronNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueBlack.eot');
    src: local('Baron Neue Black'), local('BaronNeueBlack'),
        url('BaronNeueBlack.eot?#iefix') format('embedded-opentype'),
        url('BaronNeueBlack.woff2') format('woff2'),
        url('BaronNeueBlack.woff') format('woff'),
        url('BaronNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueBoldItalic.eot');
    src: local('Baron Neue Bold Italic'), local('BaronNeueBoldItalic'),
        url('BaronNeueBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BaronNeueBoldItalic.woff2') format('woff2'),
        url('BaronNeueBoldItalic.woff') format('woff'),
        url('BaronNeueBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Baron Neue';
    src: url('BaronNeueItalic.eot');
    src: local('Baron Neue Italic'), local('BaronNeueItalic'),
        url('BaronNeueItalic.eot?#iefix') format('embedded-opentype'),
        url('BaronNeueItalic.woff2') format('woff2'),
        url('BaronNeueItalic.woff') format('woff'),
        url('BaronNeueItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

